@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using TheFlyingSaucer.Data;
@using TheFlyingSaucer.Data.BaseClasses;
@using TheFlyingSaucer.Data.Enumerations;
@using TheFlyingSaucer.Data.Sides;

<div class="text-center">
    <div class="header">
        <h1 class="display-4">The Flying Saucer</h1>
        <h2>
            Breakfast out of this World!
        </h2>
    </div>
    
    <h2 id="entrees"> Entrees </h2>
    <div class="menu-item">
        @foreach(Entree entree in Menu.Entrees)
        {
            <li class="Entrees">
                <p>@entree.Name </p>
                <p>$@entree.Price </p>
                <p>Calories: @entree.Calories </p>
            </li>
        }
    </div>

    <h2 id="sides"> Sides </h2>
    <div class="menu-item" border: 15px solid green;>
        
        @foreach (Side side in Menu.Sides)
        {
            <li class="Sides">
                @if(side is EvisceratedEggs eggs)
                {
                    <p>@eggs.Style.ToString() @side.Name </p>
                    <p>$@side.Price </p>
                    <p>Calories: @side.Calories </p>
                }
                @if(!(side is EvisceratedEggs))
                {
                    <p>@side.Name </p>
                    <p>$@side.Price </p>
                    <p>Calories: @side.Calories </p>
                }
                
            </li>
        }
    </div>

    <h2 id="drinks"> Drinks </h2>
    <div class="menu-item">
        @foreach (Drink drink in Menu.Drinks)
        {
            <li class="Drinks">
                <p>@drink.Name </p>
                <p>$@drink.Price </p>
                <p>Calories: @drink.Calories </p>
            </li>
        }
    </div>
</div>
